<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">

        <div class="left">
            <h1>Hi Is Left layout</h1>
            <div class="right-box">
                <h2> This is the Left box</h2>
            </div>
        </div>

        <div class="right">
            <h1>Here it is My Right side Layout </h1>

            <div class="left-box">
                <h2>
                    This is the Right box
                </h2>

            </div>

        </div>

    </div>

</body>

</html>