.right {
    color: aquamarine;
    
    width : 50%;
    background-color: blue;
}

.left {
    color: rgb(193, 127, 255);
    
    width : 50%;
    background-color: rgb(255, 0, 0);
}

.container {
    display: flex;
}